
 <div class="row">
     <div class="col-sm-4">

    {{#each burgerData}}

    {{#unless devoured}}

    <div>
      {{burger_name}} 
        
          <button data-id="{{id}}" class="devbtn">Devour!</button>
    </div>
   {{/unless}}
    {{/each}}


     </div>
     <div class="col-sm-4"> middle section </div>
     <div class="col-sm-4">

    
            {{#each burgerData}}
            {{#if devoured}}
     <div>
        Devoured:  {{burger_name}}
     </div>
            {{/if}}
            {{/each}}
    

     </div>
 </div>


 <div class="row">
     <div class="col-sm-4">

         <input type="text" id="burgerName">
         <button id="addBurger">Add Burger</button>
     </div>
 </div>